//-------------------------------------------------------
//- Modules :: Errors
//-------------------------------------------------------

mixin errors({ message, type })
  p.error(
    class= type ? `error--${type}` : null
  )&attributes(attributes)= message
