//-------------------------------------------------------
//- Modules :: Plugins
//-------------------------------------------------------

mixin plugins()
  script(type='text/javascript', src='js/main.js')
