//-------------------------------------------------------
//- Modules :: Head
//-------------------------------------------------------

mixin head(data)
  title= data.title
  meta(charset='utf-8')
  meta(name='description', content=data.title)
  meta(name='keywords', content=data.title)
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  link(rel='stylesheet', type='text/css', href='css/main.css')
