// ======================================================
// Base :: Reset
// ======================================================

h1,
h2,
h3,
h4,
h5,
h6 {
  // By default from user agent stylesheet, these heading have font-weight: bold (700)
  // So, we need to reset this font to 600
  font-weight: $font-weight-bold;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

input,
input:focus,
textarea,
textarea:focus,
button,
button:focus {
  outline: none;
}
